element {

}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    background: none;
    font-weight: normal;
    margin: 0;
    margin-bottom: 0px;
    overflow: hidden;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    border-bottom: 1px solid #a2a9b1;
}

h1, h2 {
    margin-bottom: 0.6em;
}

h3, h4, h5, h6 {
    border-bottom: 0.3em;
    font-weight: bold;
}

h1 {
    font-size: 188%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 128%;
}

h4 {
    font-size: 116%;
}

html, body {
    font-family: sans-serif;
}

html {
    font-size: 100%;
}
